<div class="relative bg-white" x-data="{ mobileMenuOpen: false }">
    <div class="mx-auto px-4 sm:px-6">
        <div class="flex justify-center items-center py-6 md:justify-start md:space-x-10">
            <div class="flex justify-start lg:flex-1 truncate">
                <h1 class="text-2xl font-bold truncate">
                    {{shop.name}}
                </h1>
            </div>
            <div class="-mr-2 -my-2 ml-3 md:hidden">
              <button x-on:click="mobileMenuOpen = true" type="button" class="bg-white p-2 inline-flex items-center justify-center focus:outline-none">
                {% render 'icon-menu' %}
              </button>
            </div>
            <nav class="hidden md:flex space-x-10">
              {% for link in section.settings.menu.links %}
                {% if link.links != blank %}
                  {% assign link_handle = link.handle | replace: '-', '_' %}
                  <div class="relative" x-data="{ {{ link_handle }}: false }">
                    <button x-on:click=" {{link_handle}} = ! {{link_handle}}" class="inline-flex items-center">
                      {{ link.title }}
                      {% render 'icon-dropdown' %}
                    </button>
                    <div
                    x-transition:enter="transition ease-out duration-300"
                    x-transition:enter-start="opacity-0 translate-y-3"
                    x-transition:enter-end="opacity-100 translate-y-0"
                    x-transition:leave="transition ease-out duration-500"
                    x-transition:leave-start="opacity-100 translate-y-0"
                    x-transition:leave-end="opacity-0 translate-y-3"
                    x-show="{{link_handle}}" @click.away="{{link_handle}} = false"
                    class="absolute z-10 -ml-5 transform px-2 w-screen max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2">
                      <div class="shadow-lg border ring-black ring-opacity-5 overflow-hidden rounded-lg">
                        <div class="relative gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                          {% for childlink in link.links %}
                            <a href="{{ childlink.url}}" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-100">
                              <div class="ml-4">
                                <p class="text-gray-900 text-base font-medium"> {{ childlink.title}} </p>
                              </div>
                            </a>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                {% else %}
                  <a href="{{ link.url }}" class="text-base text-gray-500 hover:text-gray-700">
                    {{ link.title }}
                  </a>
                {% endif %}
              {% endfor %}
            </nav>
            <div class="hidden md:flex items-center justify-end md:flex-1 space-x-5">
              <a href="/cart" class="whitespace-nowrap text-base text-gray-500 hover:text-gray-900">
                {% render 'icon-shoppingbag' %}
              </a>
              {% if shop.customer_accounts_enabled%}
                {% if customer %}
                  <a href="/account" class="text-base text-gray-500 hover:text-gray-900">account</a>
                  {{ 'Logout' | customer_logout_link | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"'}}
                {% else %}
                {{ 'Login' | customer_login_link  | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"'}}
                {{ 'Register' | customer_register_link  | replace: '<a', '<a class="text-base text-gray-500 hover:text-gray-900"'}}
                {% endif %}
              {% endif %}
            </div>
            <div x-show="mobileMenuOpen" class="absolute z-10 top-0 inset-x-0 p-2 transform origin-top-left md:hidden">
              <div class="shadow-lg rounded-lg ring-1 ring-black ring-opacity-5 bg-white w-full">
                <div class="p-5 divide-y-2 divide-gray-50">
                  <div class="flex items-center justify-between pb-3">
                    <div>
                      <h2 class="text-lg text-gray-500"> {{section.settings.mobile_menu_title}} </h2>
                    </div>

                    <div class="-mr-2">
                      <button x-on:click="mobileMenuOpen = false" type="button" class="rounded-md bg-white p-2 text-gray-500">
                        {% render 'icon-close' %}
                      </button>
                    </div>

                  </div>

                  <div class="pt-3">
                    <nav class="grid gap-y-7">
                      {% for link in section.settings.menu.links %}
                        {% if link.links != blank %}
                        
                        {% assign mobile_link_handle = link.handle | replace: '-', '_' %}
                          <div class="relative" x-data="{ {{mobile_link_handle}}: false }">
                            <button x-on:click="{{ mobile_link_handle }}=!{{ mobile_link_handle }}" class="text-base text-gray-500 hover:text-gray-900 flex items-center justify-between w-full">
                              <div>{{ link.title}}</div>
                              {% render 'icon-dropdown' %}
                            </button>

                            <div x-show="{{ mobile_link_handle }}" class="grid gap-y-7 py-3">

                              {% for childlink in link.links %}
                              <a 
                                href="{{childlink.url}}" 
                                class="-m-3 p-3 flex items-center rounded-md text-gray-500 hover:text-gray-900 hover:bg-gray-50">
                                <span class="ml-3">{{ childlink.title }}</span>
                              </a>
                              {% endfor %}

                            </div>
                          </div>
                        {% else %}
                          <a href="{{ link.url }}">{{ link.title }}</a>
                          
                        {% endif %}
                      {% endfor %}
                    </nav>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<!-- <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
      <span class="font-semibold text-xl tracking-tight">Tailwind CSS</span>
    </div>
    <div class="block lg:hidden">
      <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow">
        <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          Docs
        </a>
        <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          Examples
        </a>
        <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
          Blog
        </a>
      </div>
      <div>
        <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Download</a>
      </div>
    </div>
  </nav> -->

{% schema %}
{
    "name": "Header",
    "settings":[
      {
        "type": "text",
        "id": "mobile_menu_title",
        "default": "Menu",
        "label": "Mobile Menu Title"
      },
      {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "Heading Navigation Menu"
      }
    ]
}
{% endschema %}